@import "tailwindcss";


:root {
  --background: #F3F4F6;
  --foreground: #111827;

  --primary: #8B1A1A;
  --primary-dark: #701515;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f9fa;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

button  {
  cursor: pointer;
  user-select: none;
}

/* Evitar a seleção de texto padrão da interface (como placeholders e labels) */
label,
::placeholder {
  user-select: none;
}

/* Scroll suave para links */
html {
  scroll-behavior: smooth;
}

/* Cor de seleção de texto personalizada para combinar com site */
::selection {
  background-color: var(--primary);
  color: white;
}

/* Remover o destaque azul padrão ao tocar em dispositivos móveis */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Evitar que as imagens sejam arrastadas */
img {
  -webkit-user-drag: none;
}

/* Remove o ícone nativo de mostrar password no Edge/Internet Explorer */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}